.bayonetta .characterImage {
    background-image: url(../images/characters/png/bayonetta.png);
}
.bowser .characterImage{
    background-image: url(../images/characters/png/bowser.png);
}
.bowser-jr .characterImage{
    background-image: url(../images/characters/png/bowserjr.png);
}
.charizard .characterImage {
    background-image: url(../images/characters/png/charizard.png);
}
.captain-falcon .characterImage {
    background-image: url(../images/characters/png/cfalcon.png);
}
.cloud .characterImage{
    background-image: url(../images/characters/png/cloud.png);
}
.cloud-limit .characterImage{
    background-image: url(../images/characters/png/cloudlimit.png);
}
.corrin .characterImage {
    background-image: url(../images/characters/png/corrin.png);
}

.dark-pit .characterImage {
    background-image: url(../images/characters/png/darkpit.png);
}
.diddy-kong .characterImage {
    background-image: url(../images/characters/png/diddykong.png);
}
.donkey-kong .characterImage {
    background-image: url(../images/characters/png/donkeykong.png);
}
.dr-mario .characterImage {
    background-image: url(../images/characters/png/drmario.png);
}
.duck-hunt .characterImage {
    background-image: url(../images/characters/png/duckhunt.png);
}
.falco .characterImage {
    background-image: url(../images/characters/png/falco.png);
}
.fox .characterImage {
    background-image: url(../images/characters/png/fox.png);
}
.ganondorf .characterImage {
    background-image: url(../images/characters/png/ganondorf.png);
}
.game-and-watch .characterImage {
    background-image: url(../images/characters/png/gameandwatch.png);
}
.greninja .characterImage {
    background-image: url(../images/characters/png/greninja.png);
}
.ike .characterImage {
    background-image: url(../images/characters/png/ike.png);
}
.jigglypuff .characterImage {
    background-image: url(../images/characters/png/jigglypuff.png);
}
.king-dedede .characterImage {
    background-image: url(../images/characters/png/kingdedede.png);
}
.kirby .characterImage {
    background-image: url(../images/characters/png/kirby.png);
}
.link .characterImage {
    background-image: url(../images/characters/png/link.png);
}
.little-mac .characterImage {
    background-image: url(../images/characters/png/littlemac.png);
}
.lucario .characterImage {
    background-image: url(../images/characters/png/lucario.png);
}
.lucas .characterImage {
    background-image: url(../images/characters/png/lucas.png);
}
.lucina .characterImage {
    background-image: url(../images/characters/png/lucina.png);
}
.luigi .characterImage {
    background-image: url(../images/characters/png/luigi.png);
}
.mario .characterImage {
    background-image: url(../images/characters/png/mario.png);
}
.marth .characterImage {
    background-image: url(../images/characters/png/marth.png);
}
.mega-man .characterImage {
    background-image: url(../images/characters/png/megaman.png);
}
.meta-knight .characterImage {
    background-image: url(../images/characters/png/metaknight.png);
}
.mewtwo .characterImage {
    background-image: url(../images/characters/png/mewtwo.png);
}
.mii-brawler .characterImage {
    background-image: url(../images/characters/png/miibrawler.png);
}
.mii-swordfighter .characterImage {
    background-image: url(../images/characters/png/miiswordfighter.png);
}
.mii-gunner .characterImage {
    background-image: url(../images/characters/png/miigunner.png);
}
.ness .characterImage {
    background-image: url(../images/characters/png/ness.png);
}
.olimar .characterImage {
    background-image: url(../images/characters/png/olimar.png);
}
.pacman .characterImage {
    background-image: url(../images/characters/png/pacman.png);
}
.palutena .characterImage {
    background-image: url(../images/characters/png/palutena.png);
}
.peach .characterImage {
    background-image: url(../images/characters/png/peach.png);
}
.pikachu .characterImage {
    background-image: url(../images/characters/png/pikachu.png);
}
.pit .characterImage {
    background-image: url(../images/characters/png/pit.png);
}
.rob .characterImage {
    background-image: url(../images/characters/png/rob.png);
}
.robin .characterImage {
    background-image: url(../images/characters/png/robin.png);
}
.rosalina-and-luma .characterImage {
    background-image: url(../images/characters/png/rosalina.png);
}
.roy .characterImage {
    background-image: url(../images/characters/png/roy.png);
}
.ryu .characterImage {
    background-image: url(../images/characters/png/ryu.png);
}
.samus .characterImage {
    background-image: url(../images/characters/png/samus.png);
}
.sheik .characterImage {
    background-image: url(../images/characters/png/sheik.png);
}
.shulk .characterImage {
    background-image: url(../images/characters/png/shulk.png);
}
.shulk-buster .characterImage {
    background-image: url(../images/characters/png/shulkbuster.png);
}
.shulk-jump .characterImage {
    background-image: url(../images/characters/png/shulkjump.png);
}
.shulk-shield .characterImage {
    background-image: url(../images/characters/png/shulkshield.png);
}
.shulk-smash .characterImage {
    background-image: url(../images/characters/png/shulksmash.png);
}
.shulk-speed .characterImage {
    background-image: url(../images/characters/png/shulkspeed.png);
}
.sonic .characterImage {
    background-image: url(../images/characters/png/sonic.png);
}
.toon-link .characterImage {
    background-image: url(../images/characters/png/toonlink.png);
}
.villager .characterImage {
    background-image: url(../images/characters/png/villager.png);
}
.wario .characterImage {
    background-image: url(../images/characters/png/wario.png);
}
.wii-fit-trainer .characterImage {
    background-image: url(../images/characters/png/wiifittrainer.png);
}
.yoshi .characterImage {
    background-image: url(../images/characters/png/yoshi.png);
}
.zelda .characterImage {
    background-image: url(../images/characters/png/zelda.png);
}
.zero-suit-samus .characterImage {
    background-image: url(../images/characters/png/zerosuitsamus.png);
}